:root {
  --primary: #04fd00;
  --background: #04d5ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: Poppins, sans-serif;
  background-color: beige;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(0, 0, 240, 0.8);
  border-bottom: 1px solid #b7a3a3ba;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(247, 211, 141, 0.993);
  font-style: italic;
}
.navbar .navbar-logo span {
  color: rgb(238, 170, 35);
  font-style: italic;
}

.navbar .navbar-nav a {
  color: azure;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0;
}
.navbar .navbar-nav a:hover {
  color: rgb(0, 255, 128);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(0, 255, 128);
  transform: scaleX(0);
  transition: 0.2 linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.8);
}
